.container {
    margin: 0 auto;
    width: 1080px;
    background-color: #FFFFAA;
}

.header {
    background-color: #E0A2BC;
    clear: both;
    padding-bottom: 20px;
}

.header h1 {
    float: left;
    margin: 0 50px 0 30px;
}

.header ul {
    padding-top: 10px;
}

nav ul li {
    display: inline;
    padding-left: 20px;
    margin-top: 10px;
}

nav ul li a {
    text-align: right;
}

.top-content {
    padding: 10px;
    clear: both
}

.content img {
    float: left;
    margin: 0 20px;
}

.description {
    clear: right;
    padding: 10px 20px 0;
}

.content {
    background-color: #6CC15F;
    width: 80%;
    float: left;
}

.section {
    clear: right;
    width: 32%;
    float: left;
    padding-left: 5px;
}

.aside {
    text-align: center;
    text-decoration: none;
    float: right;
    width: 20%;
}

.aside ul li a {
    text-decoration: none;
}

.footer {
    background-color: #22526C;
    padding: 10px;
    clear: both;
    text-align: center;
    text-decoration: none;
}
