body {
    width: 700px;
    margin: 0 auto;
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    line-height: 1.35;
}

table, tr, td, th {
  border-collapse: collapse;
}

.bacon-info {
    background: none;
    color: #000000;
    font-size: 16px;
    width: 500px;
}

.bacon-answer {
    color: #000000;
    font-family: "Times New Roman";
    width: 500px;
}

table, tr, td, th {
    border: 1px black solid;
    border-collapse: collapse;
}

.although {
    width: 500px;
}
