body {
	background-color: #54704a;
}

.wrap {
	margin: 0 auto;
	width: 80%;
}

.header {
	background-color: #b5b67d;
	text-align: right;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
}

.nav {
	background-color: #689d59;
	border-bottom: 5px dashed white;
}

.nav ul li {
	display: inline;
	
}

.nav ul li a {
	text-decoration: none;
}

.content {
	background-color: #738f69;
	width: 80%;
}

.content ul li {
	text-decoration: none;
	text-align: center;
}

.sidebar {
	background-color: #b5b67d;
	float: right;
	width: 20%;
}

p {
	text-align: center;
}
