@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700italic);
@import url(extra.css);

html {
    font-size: 1em;
}

body {
    margin: 0;
    background: darkgray;
    background-image: url(../img/serengeti-landscape.JPG);
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.5;
    font-family: 'Roboto', serif;
    font-weight: 400;
    color: #333;
}

.container {
    background: rgba(255, 255, 255, 0.7);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    border-bottom: 1px solid #ddd;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
    font-size: 2.827em;
}

h1, h2, h3 {
    font-family: "Lora", serif;
}

.right {
    float: right;
    padding-left: 15px;
}

.left {
    float: left;
    padding-right: 15px;
}
.clearfix {
    clear: both;
}
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700italic);
@import url(extra.css);

html {
    font-size: 1em;
}

body {
    margin: 0;
    background: darkgray;
    background-image: url(../img/serengeti-landscape.JPG);
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.5;
    font-family: 'Roboto', serif;
    font-weight: 400;
    color: #333;
}

.container {
    background: rgba(255, 255, 255, 0.7);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    border-bottom: 1px solid #ddd;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
    font-size: 2.827em;
}

h1, h2, h3 {
    font-family: "Lora", serif;
}

.right {
    float: right;
    padding-left: 15px;
}

.left {
    float: left;
    padding-right: 15px;
}
.clearfix {
    clear: both;
}
